<script data-main="/js/index.js" src="/js/lib/requirejs/require.js"></script>
<div class="container">
    <h1>{{title}}</h1>

    <p>Welcome to the {{title}}</p>

    <pre>
        Lorem ipsum dolor sit amet, omnium dissentiunt his ne, nam et sint iriure legimus. Eu pri purto mutat signiferumque.
        Nec dolor oportere elaboraret cu. Commodo tractatos eam cu. Platonem facilisis accommodare ea mea. Natum eripuit
        constituam id mea, per integre sapientem ad. Dico volumus officiis ei nec, in eos clita signiferumque.

        Nam in ceteros ancillae, nec ei nullam placerat sapientem, ius id graecis accusam. Ut harum legendos reprimique eam.
        Sensibus definiebas ea nam, magna recteque elaboraret in nec. Duo dicat repudiare scripserit te, an quis tamquam
        nec, duo facete cetero temporibus ei.

        Eu ius recteque electram urbanitas, ad cetero efficiantur qui. Dicunt petentium voluptaria pro et. His no brute
        legimus, sit ne justo possim dissentiunt, per ea diam docendi deserunt. His ea equidem recteque. Nisl iudicabit ad
        duo, ut nisl facilisis vim, cu alienum probatus recusabo mei. Est omnes eripuit offendit ex, at quo nullam populo.

        Ut iriure feugait est. Noster conceptam has ea. Appetere vivendum evertitur mel cu, quo ut assum expetenda
        iudicabit, est fastidii elaboraret ei. Est discere platonem ex, enim accusata id mel. Noster dolores repudiare ex
        usu, vim in ferri mentitum.

        Et diceret expetendis mei, ut pri quem facilis. Id eum ipsum sententiae. Per latine persius erroribus in, ius augue
        dictas epicurei eu, per ex malorum invidunt. Ea vide sadipscing pro, in sed posse labitur evertitur. Libris fabulas
        senserit vis at, nemore recteque vel ut. Dicit impedit sapientem ei vel, autem libris philosophia vis ei, nonumy
        causae forensibus at eos.
    </pre>

    <pre>
        Lorem ipsum dolor sit amet, omnium dissentiunt his ne, nam et sint iriure legimus. Eu pri purto mutat signiferumque.
        Nec dolor oportere elaboraret cu. Commodo tractatos eam cu. Platonem facilisis accommodare ea mea. Natum eripuit
        constituam id mea, per integre sapientem ad. Dico volumus officiis ei nec, in eos clita signiferumque.

        Nam in ceteros ancillae, nec ei nullam placerat sapientem, ius id graecis accusam. Ut harum legendos reprimique eam.
        Sensibus definiebas ea nam, magna recteque elaboraret in nec. Duo dicat repudiare scripserit te, an quis tamquam
        nec, duo facete cetero temporibus ei.

        Eu ius recteque electram urbanitas, ad cetero efficiantur qui. Dicunt petentium voluptaria pro et. His no brute
        legimus, sit ne justo possim dissentiunt, per ea diam docendi deserunt. His ea equidem recteque. Nisl iudicabit ad
        duo, ut nisl facilisis vim, cu alienum probatus recusabo mei. Est omnes eripuit offendit ex, at quo nullam populo.

        Ut iriure feugait est. Noster conceptam has ea. Appetere vivendum evertitur mel cu, quo ut assum expetenda
        iudicabit, est fastidii elaboraret ei. Est discere platonem ex, enim accusata id mel. Noster dolores repudiare ex
        usu, vim in ferri mentitum.

        Et diceret expetendis mei, ut pri quem facilis. Id eum ipsum sententiae. Per latine persius erroribus in, ius augue
        dictas epicurei eu, per ex malorum invidunt. Ea vide sadipscing pro, in sed posse labitur evertitur. Libris fabulas
        senserit vis at, nemore recteque vel ut. Dicit impedit sapientem ei vel, autem libris philosophia vis ei, nonumy
        causae forensibus at eos.
    </pre>

    <pre>
        Lorem ipsum dolor sit amet, omnium dissentiunt his ne, nam et sint iriure legimus. Eu pri purto mutat signiferumque.
        Nec dolor oportere elaboraret cu. Commodo tractatos eam cu. Platonem facilisis accommodare ea mea. Natum eripuit
        constituam id mea, per integre sapientem ad. Dico volumus officiis ei nec, in eos clita signiferumque.

        Nam in ceteros ancillae, nec ei nullam placerat sapientem, ius id graecis accusam. Ut harum legendos reprimique eam.
        Sensibus definiebas ea nam, magna recteque elaboraret in nec. Duo dicat repudiare scripserit te, an quis tamquam
        nec, duo facete cetero temporibus ei.

        Eu ius recteque electram urbanitas, ad cetero efficiantur qui. Dicunt petentium voluptaria pro et. His no brute
        legimus, sit ne justo possim dissentiunt, per ea diam docendi deserunt. His ea equidem recteque. Nisl iudicabit ad
        duo, ut nisl facilisis vim, cu alienum probatus recusabo mei. Est omnes eripuit offendit ex, at quo nullam populo.

        Ut iriure feugait est. Noster conceptam has ea. Appetere vivendum evertitur mel cu, quo ut assum expetenda
        iudicabit, est fastidii elaboraret ei. Est discere platonem ex, enim accusata id mel. Noster dolores repudiare ex
        usu, vim in ferri mentitum.

        Et diceret expetendis mei, ut pri quem facilis. Id eum ipsum sententiae. Per latine persius erroribus in, ius augue
        dictas epicurei eu, per ex malorum invidunt. Ea vide sadipscing pro, in sed posse labitur evertitur. Libris fabulas
        senserit vis at, nemore recteque vel ut. Dicit impedit sapientem ei vel, autem libris philosophia vis ei, nonumy
        causae forensibus at eos.
    </pre>
</div>