@import "../../bower_components/bootstrap/less/bootstrap";

@import "less/variables";
@import "less/header";
@import "less/footer";

body {
  padding-top: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}